<%= render 'account_nav' %>
<div class="account_center">
<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>
<%= render 'account_error_messages' %>
  <table class="cart_list">
    <tr>
      <th>
        Product #
      </th>
      <th>
        Description
      </th>
      <th>
        Price
      </th>
      <th>
        Quantity
      </th>
      <th>
        Estimated Cost / Month*
      </th>
      <th>
        Update Quantity
      </th>
      <th>
        Remove?
      </th>
    </tr>
<% if @cart.cart_items.empty? %>
    <td colspan="7">You have no items in your cart.</td>
<% else %>
    <% @cart.cart_items.each do |cart_item| %>
      <% product = Product.find(cart_item.product_id) %>
      <%= form_tag "/account/update_cart_item" do %>
        <%= hidden_field_tag(:cart_item_id, cart_item.id) %>
        <tr>
          <td>#<%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= number_to_currency(product.price) %> <%= product.price_comment %></td>
          <td><%= text_field_tag(:quantity, cart_item.quantity, :size => 5, :align => "center") %></td>
          <td><%= number_to_currency(product.price * cart_item.quantity) %></td>
          <td><%= submit_tag("Update Quantity", :class => "cart_form_submit") %></td>
          <td><a href="/account/remove_cart_item?cart_item_id=<%= cart_item.id %>">Remove</a></td>
        </tr>
      <% end # form tag %> 
    <% end # cart item loop %>
      <tr>
        <td colspan="4" align="right">Estimated Total / Month*:</td>
        <td><%= number_to_currency(@cart.estimated_total) %></td>
        <td colspan="2">
<% if !@cart.cart_items.empty? %>
          <a href="/account/check_out">Check Out >>></a>
<% end %>
        </td>
      </tr>
<% end %>
  </table>
<br><br>
*Size of your box assumed to be 1 cubic foot. We will measure your box when we receive it to determine your final cost.
</div>
