<script type="text/javascript">
function ship_same_toggle()
{
    var form = document.forms[0];

    var checked = form.same_as_billing_same_as_billing.checked

    form.shipping_first_name.disabled = checked
    form.shipping_first_name.setAttribute("class", ((checked) ? "check_out_form_field_disabled" : "check_out_form_fields"))
    document.getElementById("shipping_first_name_text").setAttribute("class", ((checked) ? "disabled_field" : ""))

    form.shipping_last_name.disabled = checked
    form.shipping_last_name.setAttribute("class", ((checked) ? "check_out_form_field_disabled" : "check_out_form_fields"))
    document.getElementById("shipping_last_name_text").setAttribute("class", ((checked) ? "disabled_field" : ""))

    form.shipping_day_phone.disabled = checked
    form.shipping_day_phone.setAttribute("class", ((checked) ? "check_out_form_field_disabled" : "check_out_form_fields"))
    document.getElementById("shipping_day_phone_text").setAttribute("class", ((checked) ? "disabled_field" : ""))

    form.shipping_evening_phone.disabled = checked
    form.shipping_evening_phone.setAttribute("class", ((checked) ? "check_out_form_field_disabled" : "check_out_form_fields"))
    document.getElementById("shipping_evening_phone_text").setAttribute("class", ((checked) ? "disabled_field" : ""))
    
    form.shipping_address_line_1.disabled = checked
    form.shipping_address_line_1.setAttribute("class", ((checked) ? "check_out_form_field_disabled" : "check_out_form_fields"))
    document.getElementById("shipping_address_line_1_text").setAttribute("class", ((checked) ? "disabled_field" : ""))

    form.shipping_address_line_2.disabled = checked
    form.shipping_address_line_2.setAttribute("class", ((checked) ? "check_out_form_field_disabled" : "check_out_form_fields"))
    document.getElementById("shipping_address_line_2_text").setAttribute("class", ((checked) ? "disabled_field" : ""))

    form.shipping_city.disabled = checked
    form.shipping_city.setAttribute("class", ((checked) ? "check_out_form_field_disabled" : "check_out_form_fields"))
    document.getElementById("shipping_city_text").setAttribute("class", ((checked) ? "disabled_field" : ""))

    form.shipping_state.disabled = checked
    form.shipping_state.setAttribute("class", ((checked) ? "check_out_form_field_disabled" : "check_out_form_fields"))
    document.getElementById("shipping_state_text").setAttribute("class", ((checked) ? "disabled_field" : ""))

    form.shipping_zip.disabled = checked
    form.shipping_zip.setAttribute("class", ((checked) ? "check_out_form_field_disabled" : "check_out_form_fields"))
    document.getElementById("shipping_zip_text").setAttribute("class", ((checked) ? "disabled_field" : ""))
}

window.onload=ship_same_toggle;
</script>
<%= render 'account_nav' %>
<div class="account_center">
<%= form_tag("/account/finalize_check_out") do %>
  <table class="check_out">
    <tr>
      <th colspan="2">Billing Information</th>
      <th colspan="2">Shipping Information</th>
    </tr>
    <tr>
      <td colspan=2">&nbsp;</td>
      <td colspan="2"><%= check_box("same_as_billing", "same_as_billing", {:onclick=>"ship_same_toggle();", :checked => (@billing_address == @shipping_address)}) %> Same as billing address</td>
    </tr>
    <tr>
      <td>First Name:</td>
      <td>
        <%= text_field_tag(:billing_first_name, @billing_address.first_name, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@billing_address, :first_name) %>
      </td>
      <td><div id="shipping_first_name_text">First Name:</div></td>
      <td>
        <%= text_field_tag(:shipping_first_name, @shipping_address.first_name, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@shipping_address, :first_name) if (@billing_address != @shipping_address) %>
      </td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td>
        <%= text_field_tag(:billing_last_name, @billing_address.last_name, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@billing_address, :last_name) %>
      </td>
      <td><div id="shipping_last_name_text">Last Name:</div></td>
      <td>
        <%= text_field_tag(:shipping_last_name, @shipping_address.last_name, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@shipping_address, :last_name) if (@billing_address != @shipping_address) %>
      </td>
    </tr>
    <tr>
     <td>Day Time Phone:</td>
     <td><%= text_field_tag(:billing_day_phone, number_to_phone(@billing_address.day_phone), :class => "check_out_form_fields") %>
         <%= error_messages_for_attribute(@billing_address, :day_phone) %>
     </td>
     <td><div id="shipping_day_phone_text">Day Time Phone:</div></td>
     <td><%= text_field_tag(:shipping_day_phone, number_to_phone(@shipping_address.day_phone), :class => "check_out_form_fields") %>
         <%= error_messages_for_attribute(@shipping_address, :day_phone) if (@billing_address != @shipping_address) %>
     </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan=3>Format: ###-###-####</td>
    </tr>
    <tr>
     <td>Evening Phone:</td>
     <td>
         <%= text_field_tag(:billing_evening_phone, number_to_phone(@billing_address.evening_phone), :class => "check_out_form_fields") %>
         <%= error_messages_for_attribute(@billing_address, :evening_phone) %>
     </td>
     <td><div id="shipping_evening_phone_text">Evening Phone:</div></td>
     <td>
         <%= text_field_tag(:shipping_evening_phone, number_to_phone(@shipping_address.evening_phone), :class => "check_out_form_fields") %>
         <%= error_messages_for_attribute(@shipping_address, :evening_phone) if (@billing_address != @shipping_address) %>
     </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan=3>Format: ###-###-####</td>
    </tr>
    <tr>
      <td>Address Line 1</td>
      <td>
        <%= text_field_tag(:billing_address_line_1, @billing_address.address_line_1, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@billing_address, :address_line_1) %>
      </td>
      <td><div id="shipping_address_line_1_text">Address Line 1</div></td>
      <td>
        <%= text_field_tag(:shipping_address_line_1, @shipping_address.address_line_1, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@shipping_address, :address_line_1) if (@billing_address != @shipping_address) %>
      </td>
    </tr>
    <tr>
      <td>Address Line 2</td>
      <td>
        <%= text_field_tag(:billing_address_line_2, @billing_address.address_line_2, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@billing_address, :address_line_2) %>
      </td>
      <td><div id="shipping_address_line_2_text">Address Line 2</div></td>
      <td>
        <%= text_field_tag(:shipping_address_line_2, @shipping_address.address_line_2, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@shipping_address, :address_line_2) if (@billing_address != @shipping_address) %>
       </td>
    </tr>
    <tr>
      <td>City</td>
      <td>
        <%= text_field_tag(:billing_city, @billing_address.city, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@billing_address, :city) %>
      </td>
      <td><div id="shipping_city_text">City</div></td>
      <td>
        <%= text_field_tag(:shipping_city, @shipping_address.city, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@shipping_address, :city) if (@billing_address != @shipping_address) %>
      </td>
    </tr>
    <tr>
      <td>State</td>
      <td>
        <%= select_tag(:billing_state, options_for_select(states_array, @billing_address.state), :include_blank => true) %> 
        <%= error_messages_for_attribute(@billing_address, :state) %>
        </td>
      <td><div id="shipping_state_text">State</div></td>
      <td>
        <%= select_tag(:shipping_state, options_for_select(states_array, @shipping_address.state), :include_blank => true) %> 
        <%= error_messages_for_attribute(@shipping_address, :state) if (@billing_address != @shipping_address) %>
      </td>
    </tr>
    <tr>
      <td>Zip</td>
      <td>
        <%= text_field_tag(:billing_zip, @billing_address.zip, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@billing_address, :zip) %>
      </td>
      <td><div id="shipping_zip_text">Zip</div></td>
      <td>
        <%= text_field_tag(:shipping_zip, @shipping_address.zip, :class => "check_out_form_fields") %>
        <%= error_messages_for_attribute(@shipping_address, :zip) if (@billing_address != @shipping_address) %>
      </td>
    </tr>
    <tr>
      <td colspan=4 style="border-bottom: solid 1px gray; padding: 10px 0px;"></td>
    </tr>
    <tr>
      <th colspan=4>
        Credit Card Details
      </th>
    </tr>
    <tr>
      <td colspan=4>
        <table>
          <tr>
            <td>Cart Type</td>
            <td>
              <%= select_tag(:cc_type, options_for_select(cc_types), :class => "check_out_form_fields") %>
              <%= error_messages_for_attribute(@credit_card, :type) %>
            </td>
          </tr><tr>
            <td>Card Number*</td>
            <td>
              <%= text_field_tag(:cc_number, @credit_card.number, :class => "check_out_form_fields") %>
              <%= error_messages_for_attribute(@credit_card, :number) %>
            </td>
          </tr><tr>
            <td>Security Code</td>
            <td>
              <%= text_field_tag(:security_code, @credit_card.security_code, :class => "check_out_form_small_field") %>
              <%= error_messages_for_attribute(@credit_card, :security_code) %>
            </td>
          </tr><tr>
            <td>Expiration Date</td>
            <td>
              Month <%= text_field_tag(:expiration_month, @credit_card.expiration_month, :class => "check_out_form_small_field") %> Year <%= text_field_tag(:expiration_year, @credit_card.expiration_year, :class => "check_out_form_small_field") %>
            </td>
          </tr><tr>
            <td></td>
            <td>
              <%= error_messages_for_attribute(@credit_card, :security_code) %>
              <%= error_messages_for_attribute(@credit_card, :security_code) %>
            </td>
          </tr><tr>
            <td colspan=2>
              <div style="color:red">*At this time the site does not do anything with credit cards, but it is not yet secure, so please don't enter a real credit card number.</div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan=4 style="border-bottom: solid 1px gray; padding: 10px 0px;"></td>
    </tr>
    <tr>
      <td colspan=4>
        <table class="check_out_cart_summary">
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
          </tr>
<% @cart.cart_items.each do |cart_item| %>
          <% product = Product.find(cart_item.product_id) %>
          <tr>
            <td align="left">
              <%= product.name %>
            </td>
            <td>
              <%= cart_item.quantity %>
            </td>
            <td>
              <%= number_to_currency(product.price) %>
            </td>
            <td align="right">
              <%= number_to_currency(product.price * cart_item.quantity) %>
            </td>
          </tr>
<% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan=4 style="border-bottom: solid 1px gray; padding: 10px 0px;"></td>
    </tr>
    <tr>
      <td colspan=4 align="right">
        Total: <%= number_to_currency(@cart.estimated_total) %>
        <br><br>
        <%= submit_tag("Place Order", :class => "cart_form_submit") %>
      </td>
    </tr>
  </table>
<% end %>
</div>
