<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "The Visible Closet" %></title>
  <%= stylesheet_link_tag "screen.css", :media => 'screen, projection' %>
  <!--[if IE]><%= stylesheet_link_tag "ie.css", :media => 'screen, projection' %><![endif]-->
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :defaults %>
</head>
<body class="oneColFixCtrHdr">

	<div class="header_container">
	  <div class="logo">
	    <a href="/">The Visible Closet</a>
	  </div>
	</div>
	<div class="nav">
	  <div id="login_container">
	    <div id="topnav" class="topnav">
              <% if user_signed_in? %>
              Signed in as <%= current_user.first_name %> <%= current_user.last_name %>. Not you? <%= link_to "Sign out", destroy_user_session_path %>
              |
                <a href="/account/home" class="signin">Account</a>
              <% else %>
	        <%= link_to "Log In", new_user_session_path, :class => 'signin' %>
	       |
	        <%= link_to "Sign Up", new_user_registration_path, :class => 'signin' %>
              <% end %>
	      |
	      <a class="signin">
	        Help
	      </a>
	    </div>
	  </div>
	</div>
	<div class="mainbar">
	  <div class="mainnav">
	  <a href="/">
	    <img src="/images/how_it_works.jpg" alt="how visual closet works" width="94" height="38" hspace="0" vspace="0" border="0" align="left" />
	  </a>
	  <a href="/">
	    <img src="/images/pricing.jpg" alt="visual pricing" width="94" height="38" hspace="0" vspace="0" border="0" align="left" />
	  </a>
	  <a href="/">
	    <img src="/images/Blog.jpg" alt="visit our blog!" width="94" height="38" hspace="0" vspace="0" border="0" align="left" />
	  </a>
	  <a href="/">
	    <img src="/images/FAQ.jpg" alt="frequently asked questions" width="94" height="38" hspace="0" vspace="0" border="0" align="left" />
	  </a>
	  </div>
	</div>
        <div class="home_main_col1">

<%= yield %>
        </div>
	<div id="footer">
	<div class="footer_content">
	  <p>
	  <a href="/">Home</a> | <a href="/">Sign Up</a> | <a href="/">Demo</a> | <a href="/">Pricing</a> | <a href="/">Follow Us on Twitter</a> | <a href="/">Privacy Policy</a> | <a href="/">Usage Agreement</a> | <a href="/">Contact Us</a> </p>
	  <p>
	  The names and logos for TheVisibleCloset.com are registered trademarks of The Visible Closet, Inc.<br /> All Text and design is Copyright 2011 The Visible Closet, Inc. All rights reserved.</p>
	</div>
	</div>

</body>
</html>
